.header {
  min-height: 70px;
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background: var(--color-green);
  color: var(--color-white);
}

.headerInner {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
}

.title {
  font-weight: bold;
  text-align: center;
  flex: 4;
}

.buttonLeft, .buttonRight {
  flex: 1;
  fill: var(--color-white);
}
