.field {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 500px;
  margin-bottom: 2rem;
}

.input {
  display: flex;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--color-white);
  color: var(--color-dark);
  border: 1px solid transparent;
  box-shadow: 2px 0 8px 2px var(--color-shadow);
  font-size: 1rem;
}

input.input:is(:active, :focus) {
  border-color: var(--color-green);
  outline: none;
}

input.input:disabled {
  background-color: var(--color-grey-light);
  cursor: not-allowed;
}

.label {
  color: var(--color-grey);
  position: absolute;
  top: -0.5rem;
  font-size: .75rem;
  left: 1rem;
  line-height: 1.25;
  transition: all .2s;
  pointer-events: none;
}

.required {
  position: absolute;
  right: 1rem;
  font-size: 0.75rem;
  color: var(--color-grey);
  top: 1.25rem;
  display: none;
}


input.input:placeholder-shown + .label,
input.input:-webkit-autofill + .label {
  top: 1rem;
  font-size: 1rem;
}

input.input:placeholder-shown ~ .required,
input.input:-webkit-autofill ~ .required {
  display: inline-block;
}

.error {
  margin-top: .75rem;
  display: block;
  padding: 0 1rem;
  color: darkred;
}

.inputError {
  border-color: darkred;
}