.textareaWrap {
  position: relative;
}

.textArea {
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--color-white);
  color: var(--color-dark);
  border: 1px solid transparent;
  box-shadow: 0 0 6px 4px var(--color-offwhite);
  font-size: 1rem;
  width: 100%;
}

.label {
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  color: var(--color-grey);
  line-height: 1.25;
  font-size: 0.75rem;
}

textarea.textArea:placeholder-shown + .label,
textarea.textArea:-webkit-autofill + .label {
  top: 1rem;
  font-size: 1rem;
}

textarea.textArea:placeholder-shown ~ .required,
textarea.textArea:-webkit-autofill ~ .required {
  display: inline-block;
}