:root {
  --color-green: #137974;
  --color-green-light: #B9D7D5;
  --color-offwhite: #F7F6FD;
  --color-grey: #777676;
  --color-grey-light: #d7d7d7;
  --color-dark: #141414;
  --color-white: #FFF;
  --font-family: 'Poppins', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: var(--color-offwhite);
  font-family: var(--font-family);
}

a {
  color: var(--color-green);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.textSmall {
  font-size: .75rem;
}

.textError {
  color: darkred;
}

.textCenter {
  display: block;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}