:root {
  --color-green: #137974;
  --color-green-light: #B9D7D5;
  --color-offwhite: #F7F6FD;
  --color-grey: #777676;
  --color-dark: #141414;
  --color-white: #FFFFFF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
